<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Contact Us</h1>
        <p>This is the shell contact page...</p>
    </body>
</html>