<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to the most awesome website on the net!</h1>
        <p>You won't find a better website anywhere!</p>
    </body>
</html>