<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to the most awesome website on the net!</h1>
        <h2>This is the profile of <%= person %></h2>
        <p><strong>Age: <%= data.age %></strong></p>
        <p><strong>Job: <%= data.job %></strong></p>
        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function(item) { %>
                <li><%= item %></li>
            <% }); %>
        </ul>
        <p>You won't find a better website anywhere!</p>
    </body>
</html>